.no-title {
    font-style: italic
}

.no-file-flows {
    font-style: italic
}

.externallySelected {
    background-color: #10dd0d;
    border-color: #10dd0d;
    color: #ffffff;
}

.active.externallySelected {
    background-color: #e03b26 !important;
    border-color: #e03b26 !important;
    color: #ffffff;
}