<div>
    <h1>Add Output files to Order</h1>

    <h4>Enter a description of the type of file you're expecting to see.</h4>
    <input type="text" v-model="file_name" placeholder="File Name" />

    <h4>Select the file's type</h4>
    <select v-model="file_type">
        <option>MP4</option>
        <option>MOV</option>
        <option>TXT</option>
    </select>
    
    <div class="row">
        <div id="component-with-output-files" class="col-xs-4">
            <ul class="list-group">
                <li
                    is="component-with-output-files"
                    v-for="component in components"
                    v-bind:component="component"
                ></li>
            </ul>
        </div>

        <div id="file-flows" class="col-xs-4">
            <ul class="list-group">
                <li
                    is="file-flow-selectable"
                    v-for="fileFlow in fileFlows"
                    v-bind:file-flow="fileFlow"
                ></li>
            </ul>
        </div>

        <div id="packages" class="col-xs-4">
            <ul class="list-group">
                <li
                    is="package-selectable"
                    v-for="package in packages"
                    v-bind:package="package"
                ></li>
            </ul>
        </div>
    </div>
</div>