<div>
    <h1>Orders</h1>

    <button v-on:click="loadOrderEntryLink" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> Add a new Order
    </button>

    <table class="table table-striped table-fixed">
        <thead>
            <tr>
                <th>Code</th>
                <th>Client Division</th>
                <th>Titles</th>
                <th>Expected Completion Date</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="order in orders" v-on:click="openOrderLink(order.code)">
                <td>{{ order.code }}</td>
                <td>{{ order.division.name }}</td>
                <td>{{ getTitleListForOrder(order) }}</td>
                <td>{{ order.expected_completion_date }}</td>
                <td>{{ order.due_date }}</td>
            </tr>
        </tbody>
    </table>
</div>