<div>
    <h3>Orders</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Client Division</th>
                <th>Expected Completion Date</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="order in orders" v-on:click="openOrderLink(order.code)">
                <td>{{ order.code }}</td>
                <td>{{ order.division.name }}</td>
                <td>{{ order.expected_completion_date }}</td>
                <td>{{ order.due_date }}</td>
            </tr>
        </tbody>
    </table>
</div>