{% extends "base.html" %}
{% block title %}Add Components to Order: {{ order_name }} {{ order_code }}{% endblock %}
{% block stylesheets %}{{ super() }}{% endblock %}
{% block content %}
<h1>Adding Components to Order</h1>

{% raw %}

<h3>How many titles are you adding?</h3>

<div id="add-components-to-order">
    <select v-model="component_count">
        <option v-for="option in component_count_options">
            {{ option }}
        </option>
    </select>

    <ul>
        <li
            is="add-title"
            v-for="n in Number(component_count)"
            v-bind:number="n"
        ></li>
    </ul>
</div>


{% endraw %}

<script src="{{ url_for('static', filename='js/add_components_to_order.js') }}"></script>

{% endblock %}