{% extends "base.html" %}
{% block title %}Add an Order to Tactic{% endblock %}
{% block content %}
<h1>Adding Title(s) to Tactic</h1>

{% raw %}

<div id="add-title-to-tactic">
    <div>
        <input type="radio" id="search_omdb" value="Search OMDb" v-model="search_omdb_or_manual_entry">
        <label for="search_omdb">Search OMDb</label>
        <br>
        <input type="radio" id="manual_entry" value="Enter Manually" v-model="search_omdb_or_manual_entry">
        <label for="two">Enter Manually</label>
        <br>
    </div>

    <template v-if="search_omdb_or_manual_entry === 'Enter Manually'">
        <div>
            <h3>Are you adding a Movie, Trailer, Episode or a Season?</h3>
            <select v-model="title_type">
                <option>Movie</option>
                <option>Trailer</option>
                <option>Episode</option>
                <option>Season</option>
            </select>
        </div>

        <div v-if="title_type !== ''">
            <h3>What is the name?</h3>
            <input v-model="new_title_name">
        </div>

        <div v-if="new_title_name !== ''">
            <h3>Enter the year, if you know it.</h3>
            <p>Entering a year is not required, but it is highly recommended.</p>
            <input v-model="year_released">
            <br/>
            <button v-on:click="addTitleToTactic">Add Title to Tactic</button>
        </div>
    </template>
    <template v-else-if="search_omdb_or_manual_entry === 'Search OMDb'">
        <div>
            <h3>Are you adding a Movie, Episode or a Season?</h3>
            <select v-model="title_type">
                <option>Movie</option>
                <option>Episode</option>
                <option>Season</option>
            </select>
        </div>

        <template v-if="title_type == 'Movie'">
            <div>
                <h4>Enter the name of the movie you are searching for.</h4>
                <input v-model="title_search_name">
            </div>
        </template>
        <template v-else-if="title_type == 'Episode'">
            <div>
                <h4>
                    Enter the name of the series, the season, and the episode number. Do not enter the name of the
                    episode (searching by episode name is not supported).
                </h4>
                <input v-model="title_search_name">
                <input v-model="season_number">
                <input v-model="episode_number">
            </div>
        </template>
        <template v-else-if="title_type == 'Season'">
            <div>
                <h4>
                    Enter the name of the series and the season number. If the series does not have seasons, leave it
                    blank.
                </h4>
                <input v-model="title_search_name">
                <input v-model="season_number">
            </div>
        </template>

        <template v-if="title_search_name !== ''">
            <div>
                <p>
                    Click the button below to begin the search. If you know the Year of the Title you're searching for,
                    you can enter that to narrow your results.
                </p>
                <label for="omdb_search_year">Year</label>
                <select v-model="omdb_search_year">
                    <option v-for="option in year_options">
                        {{ option }}
                    </option>
                </select>
                <br/>
                <button v-on:click="searchOMDbForTitle">Search OMDb</button>
            </div>
        </template>

        <template v-if="omdb_found_titles.length > 0">
            <div style="width: 40%; float: left;">
                <div>
                    <p>{{ omdb_found_titles.length }} titles found.</p>
                </div>

                <div>
                    <ul>
                        <li
                            is="omdb-title-item"
                            v-for="title in omdb_found_titles"
                            v-bind:title="title"
                            v-on:omdb-title-selected="omdb_selected_id = title.imdbID"
                        ></li>
                    </ul>
                </div>
            </div>

            <div style="width: 60%; margin-left: 30px;">
                <h3 v-if="omdb_selected_id !== ''">Add this title to Tactic?</h3>

                <template v-if="omdb_selected_title !== ''">
                    <h4>{{ omdb_selected_title.Title }} ({{ omdb_selected_title.Year }})</h4>
                    <img v-bind:src="omdb_selected_title.Poster"/>
                    <h5>Runtime: {{ omdb_selected_title.Runtime }}</h5>
                    <h6>Released: {{ omdb_selected_title.Released }}</h6>
                    <h6>Rated: {{ omdb_selected_title.Rated }}</h6>
                    <p>Plot: {{ omdb_selected_title.Plot }}</p>
                    <button v-on:click="addTitleToTacticFromOMDb">Add Title to Tactic</button>
                </template>
            </div>
        </template>
        <template v-else-if="omdb_searched">
            <div>
                <p>
                    No titles matching that name were found in OMDb. Either it does not exist, or the name was
                    entered incorrectly.
                </p>
                <p>
                    If you cannot find the title in OMDb, you will have to enter it manually. Click the button
                    above to switch to manual entry.
                </p>
            </div>
        </template>
    </template>
</div>

{% endraw %}

<script src="{{ url_for('static', filename='js/add_title_to_tactic.js') }}"></script>

{% endblock %}