<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}"></script>

    {% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

    <ul>
        <li><a href="/orders/reprioritizer">Order Reprioritizer</a></li>
        <li><a href="/titles/add">Title Adder</a></li>
        <li><a href="/orders/create">Create an Order</a></li>
        <li><a href="#">Instructions Document Editor</a></li>
        <li><a href="#">Instructions Template Editor</a></li>
        <li><a href="/instructions/department/add">Add Department Instructions</a></li>
    </ul>

    <div id="ticket" data-ticket="{{ticket}}"></div>

    {% block content %}
    {% endblock %}


</body>
</html>