{% extends "base.html" %}

{% block title %}Add Department Instructions to Tactic{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown_editor.css') }}">
{{ super() }}
{% endblock %}

{% block content %}
<h1>Edit Instructions</h1>

<div id="instructions_document_editor">
    <ul>
        <li
        is="movie-item"
        v-for="instructions_document in instructions_documents"
        v-bind:movie="instructions_document"
        v-on:remove="selected_id = item.imdbID"
        ></li>
    </ul>
</div>

{% raw %}
{% endraw %}
{% endblock %}
