{% extends "base.html" %}
{% block title %}Add an Order to Tactic{% endblock %}
{% block content %}
<h1>Add an Order to Tactic</h1>

{% raw %}
<div id="order-creator">
    <div>
        <label for="name">Name</label>
        <input v-model="name">
    </div>

    <template v-if="name !== ''">
        <div>
            <h4>Client</h4>
            <select v-model="client">
                <option v-for="option in client_options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </div>
    </template>

    <template v-if="client !== ''">
        <template v-if="division_options.length > 0">
            <div>
                <h4>Division</h4>
                <select v-model="division">
                    <option v-for="option in division_options" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </div>
        </template>
        <template v-else>
            <p>No Division is available</p>
        </template>
    </template>

    <template v-if="division !== ''">
        <div>
            <h4>Due Date</h4>
            <p>
                Select the date and time that this order is due, according to the client. If you do not know, take
                your best guess (you can update this later).
            </p>
            <input v-model="due_date">
        </div>
    </template>

    <template v-if="due_date !== ''">
        <div>
            <h4>Expected Completion Date</h4>
            <p>
                Enter the date and time that this Order is expected to finish. This will determine the order's priority
                in relation to all other active orders. If you do not know, take your best guess (you can update this
                later).
            </p>
            <input v-model="expected_completion_date">
        </div>
    </template>

    <template v-if="expected_completion_date !== ''">
        <div>
            <h4>PO Number</h4>
            <p>
                Enter the PO Number for this order, if one exists. This is not required, but it is highly recommended.
                If you do not know or do not have a PO at the moment, skip this entry for now and enter it later.
                (A list of all orders without PO Numbers is available for easy searching).
            </p>
            <input v-model="po_number">
        </div>

        <div>
            <p>
                Hit the Submit button to continue. Your order will be submitted, and you will be redirected to a page
                to enter information on Titles, Packages, etc. for the order. If you do not hit Submit and go
                back/reload the page, your progress so far will be lost.
            </p>
        </div>
        <button v-on:click="submit">Submit</button>
    </template>
</div>

{% endraw %}

<script src="{{ url_for('static', filename='js/order_creator.js') }}"></script>

{% endblock %}