<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Instructions Template Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="{{url_for('static', filename='css/multi-select.css')}}" media="screen" rel="stylesheet" type="text/css">
      <style>
  #sortable1, #sortable2, .dysort {
    border: 1px solid #eee;
    width: 300px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 200px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 280px;
  }
  ul {
      padding: 10px;
      border: 1px solid darkgray;
  }
          li {
              list-style-type: none;
          }
          .numbering {
              text-decoration: underline;
              font-weight: bold;
          }
          #outersortablediv {
              width: 600px;
          }
  </style>
</head>
<body>
    <div class="container">
        <h1>Order Reprioritizer</h1>
    </div>
    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <div id="outersortablediv">

    </div>

    <div>
        <h3 id="order_description_header">Select an order to see its description</h3>
        <p id="order_description"></p>
    </div>

    <div>
            <button type="submit" name="Submit" value="Submit" id="submit_button">Submit</button>
    </div>

    <script src="{{url_for('static', filename='js/jquery.multi-select.js')}}" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type=text/javascript>
        $(document).ready(function() {
            $.getJSON( "priorities", function( data ) {
                var current_priority = 1;
                var current_priority_decimal = data["orders"][0]["priority"];
                var iterator = 1;
                var number_of_orders = data["count"];

                for (var i = 1; i <= number_of_orders; i++) {
                    $('#outersortablediv').append('<span class="numbering">' + i.toString() + '</span>');
                    $('#outersortablediv').append($('<ul>').attr('id', 'dynamicsortable' + i).attr('class', 'connectedSortable').attr('priority_decimal', data["priority_levels"][i - 1]));
                }

                $.each( data["orders"], function( key, val ) {
                    if (val["priority"] !== current_priority_decimal) {
                        current_priority_decimal = val["priority"];
                        current_priority = iterator;
                    }

                    $('#dynamicsortable' + current_priority).append($('<li>').text(val["name"]).attr('id', val["code"]).attr('class', 'department_instruction'));

                    iterator++;
                });

                // Bind this function after the JSON has loaded
                $(".department_instruction").click(function(){
                    var department_instruction_description_section_header = $('#order_description_header');
                    var department_instruction_description_section = $('#order_description');
                    department_instruction_description_section.html($(this).attr('id'));

                    var department_instructions_text_header = "Select an order to see its description";
                    var department_instructions_text = "";

                    for (var i = 0; i < data["department_instructions_list"].length; i++)
                    {
                        var department_instructions_object = data["department_instructions_list"][i];

                        if (department_instructions_object["code"] == $(this).attr('id')) {
                            department_instructions_text_header = department_instructions_object["descriptive_name"];
                            department_instructions_text = department_instructions_object["instructions_text"];
                        }
                    }

                    if (department_instructions_text === "") {
                        department_instructions_text = "No instruction text is available."
                    }

                    department_instruction_description_section_header.html(department_instructions_text_header);
                    department_instruction_description_section.html(department_instructions_text);
                });

                $( function() {
                    for (var i = 1; i <= number_of_orders; i++){
                        $( "#dynamicsortable" + i.toString()).sortable({
                            connectWith: ".connectedSortable"
                        }).disableSelection();
                    }
                });
            });

            $("#submit_button").click(function() {
                var order_priorities = {};

                $("#outersortablediv").each(function() {
                    $(this).find('ul').each(function (index, value) {
                        var current = $(this);

                        current.children().each(function (child_index, child_value) {
                            order_priorities[child_value['id']] = current.attr('priority_decimal');
                        });
                    });
                });

                console.log(order_priorities);

/*
                $.ajax({
                    url: '/instructions_template',
                    contentType: 'application/json',
                    data: JSON.stringify(data_to_submit),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                        location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });*/
            });
        });
    </script>
  </body>
</html>
