{% extends "base.html" %}
{% block title %}Add an Order to Tactic{% endblock %}
{% block content %}
<h1>Adding Components by Title to Order: {{ name }} ({{ code }})</h1>

{% raw %}
<div id="add-component-by-title">
    <div>
        <h3>Are you adding a Movie, Trailer, Episode or a Season?</h3>
        <select v-model="title_type">
            <option>Movie</option>
            <option>Trailer</option>
            <option>Episode</option>
            <option>Season</option>
        </select>
    </div>

    <template v-if="title_type == 'Movie'">
        <div>
            <h4>Enter the name of the movie you are searching for.</h4>
            <input v-model="title_search_name">
            <button v-on:click="searchForTitle">Search Tactic</button>
        </div>
    </template>
    <template v-else-if="title_type == 'Episode'">
        <div>
            <h4>
                Enter the name of the series, the season, and the episode number. Do not enter the name of the
                episode (searching by episode name is not supported).
            </h4>
            <input v-model="title_search_name">
            <input v-model="season_number">
            <input v-model="episode_number">
            <button v-on:click="searchForEpisode">Search Tactic</button>
        </div>
    </template>
    <template v-else-if="title_type == 'Season'">
        <div>
            <h4>
                Enter the name of the series and the season number. If the series does not have seasons, leave it
                blank.
            </h4>
            <input v-model="title_search_name">
            <input v-model="season_number">
            <button v-on:click="searchForSeason">Search Tactic</button>
        </div>
    </template>

    <template v-if="tactic_title_search_results.length > 0">
        <div>
            <p>{{ tactic_title_search_results.length }} results found.</p>
        </div>
        <div>
            <ul>
                <li
                    is="title-item"
                    v-for="title in tactic_title_search_results"
                    v-bind:title="title"
                    v-on:title-selected="selected_title_code = title.code"
                ></li>
            </ul>
        </div>
        <div>
            <p>
                Is the Title you need not listed above? You can try searching again, or if you think the Title is not
                in Tactic's database, you can
                <a href="#" onClick="MyWindow=window.open('/titles/add','MyWindow','width=800,height=800'); return false;">Click Here</a>
                to add it.
            </p>
        </div>
    </template>
    <template v-else-if="tactic_title_searched && tactic_title_search_results.length === 0">
        <div>
            <p>
                No search results were found. Either the name was entered incorrectly, or this Title does not yet
                exist in Tactic's database.
            </p>
            <p>
                You can try searching again, or you can add the Title to Tactic's database. To do the latter,
                <a href="#" onClick="MyWindow=window.open('/titles/add','MyWindow','width=800,height=800'); return false;">Click Here</a>
            </p>
        </div>
    </template>

    <template v-if="selected_title_code !== ''">
        <div>
            <h4>Selected Title: {{ selected_title_code }}</h4>
            <p>Is this ok?</p>
        </div>
    </template>
</div>

{% endraw %}

<script src="{{ url_for('static', filename='js/order_add_component_by_title.js') }}"></script>

{% endblock %}