{% extends "base.html" %}
{% block title %}Add a Title to Tactic{% endblock %}
{% block content %}
<h1>Add a Title to Tactic</h1>

{% raw %}
<div id="app">
    <div style="width: 40%; float: left; height: 100%">
        <label for="name">Name</label>
        <input v-model="name">
        <select v-model="type">
            <option>Movie</option>
            <option>Series</option>
            <option>Episode</option>
        </select>
        <select v-model="year">
            <option v-for="option in year_options">
                {{ option }}
            </option>
        </select>

        <button v-on:click="submitMessage">Search</button>

        <ul>
            <li
            is="movie-item"
            v-for="item in movies"
            v-bind:movie="item"
            v-on:remove="selected_id = item.imdbID"
            ></li>
        </ul>
    </div>
    <div style="width: 60%; margin-left: 30px; height: 100%">
        <h3 v-if="selected_id !== ''">Add this title to Tactic?</h3>

        <template v-if="selected_title !== ''">
            <h4>{{selected_title.Title}} ({{selected_title.Year}})</h4>
            <img v-bind:src="selected_title.Poster"/>
            <h5>Runtime: {{selected_title.Runtime}}</h5>
            <h6>Released: {{selected_title.Released}}</h6>
            <h6>Rated: {{selected_title.Rated}}</h6>
            <p>Plot: {{selected_title.Plot}}</p>
            <button v-on:click="submitToTactic">Submit</button>
        </template>
    </div>
</div>

{% endraw %}

<script src="{{ url_for('static', filename='js/vuetest.js') }}"></script>

{% endblock %}