<div>
    <h4>Files</h4>

    <div class="btn-group">
        <button class="btn btn-default" v-on:click="creatingNewFile = !creatingNewFile">
            <i class="fa fa-plus" aria-hidden="true"></i> Create a File
        </button>
        <button class="btn btn-default" v-on:click="importingFiles = !importingFiles">
            <i class="fa fa-edit" aria-hidden="true"></i> Import File(s)
        </button>
    </div>

    <div v-if="creatingNewFile">
        <new-file-form v-bind:files="files" v-bind:orderCode="orderCode"></new-file-form>
    </div>

    <div v-if="sourceFiles.length > 0">
        <div>Source Files</div>
        <ul class="list-group">
            <li
                is="file-editable"
                v-for="file in sourceFiles"
                v-bind:file="file"
                v-bind:orderCode="orderCode"
                v-bind:fileOptions="files"
                class="list-group-item"
            >
            </li>
        </ul>
    </div>

    <div v-if="intermediateFiles.length > 0">
        <div>Intermediate Files</div>
        <ul class="list-group">
            <li
                is="file-editable"
                v-for="file in intermediateFiles"
                v-bind:file="file"
                v-bind:orderCode="orderCode"
                v-bind:fileOptions="files"
                class="list-group-item"
            >
            </li>
        </ul>
    </div>

    <div v-if="deliverableFiles.length > 0">
        <div>Deliverable Files</div>
        <ul class="list-group">
            <li
                is="file-editable"
                v-for="file in deliverableFiles"
                v-bind:file="file"
                v-bind:orderCode="orderCode"
                v-bind:fileOptions="files"
                class="list-group-item"
            >
            </li>
        </ul>
    </div>
</div>