<div>
    <h1>New Order</h1>

    <form v-on:submit.prevent="addOrderToTactic">
        <h4>Select the Client (Company)</h4>
        <client-select></client-select>
        <div class="card">
            <div class="row">
                <span>Due Date：</span>
                <date-picker :date="due_date" :option="option"></date-picker>
            </div>
            <div class="row">
                <span>Expected Completion Date：</span>
                <date-picker :date="expected_completion_date" :option="option"></date-picker>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>