<div>
    <h4>Tactic Extras*</h4>
    <h5>* New name needed</h5>

    <p>
        This application holds several views, forms, and functions that are not
        otherwise possible within Tactic. It has views to add in Orders, search IMDb
        for new Titles, reorganize priorities, and more.
    </p>
    <p>
        The reason this application is necessary in the first place is due to the
        restricting nature of the Tactic framework. Tactic is, in programming time,
        ancient. While some of its features and functionalities still hold up today,
        its front-end architecture is very outdated.
    </p>
    <p>
        What this app aims to acheive is an easier, more responsive front end that
        utilizes Tactic on its back-end. The app is build with newer, fresher web
        development technology and methodology. This allows features like drag-and-drop,
        dynamic forms, and real-time updating which would otherwise be impossible
        in vanilla Tactic.
    </p>
    <p>
        Because this application is using Tactic as its back-end (that is, the
        database it still running through Tactic, and this app merely fetches and
        pushes data to it), you can still use Tactic as you always have. The data is
        exactly the same. Note that this is not meant as a complete replacement of
        Tactic; not all Tactic's features will be migrated here. This is only meant
        to give access to features that Tactic would not normally allow.
    </p>
    <p>
        The app is currently under development and will change significantly over the
        coming weeks/months. If you have any questions, comments, or bugs to report,
        please email tyler.standridge@2gdigital.com
    </p>
</div>