<div>
    <div class="form-group form-inline">
        <label for="search-by">Searching by:</label>
        <select v-model="selectedSearchOption" class="form-control">
            <option v-for="option in options" v-bind:value="option" class="search-by">{{ getOptionLabel(option) }}</option>
        </select>
    </div>

    <div v-if="selectedSearchType === 'text'">
        <input class="form-control" v-model="searchQueryText"/>
    </div>
    <div v-else-if="selectedSearchType === 'select'">
        <multiselect v-model="selectedMultiselectOptions" :options="searchMultiselectOptions" track-by="value" label="label" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true"></multiselect>
    </div>
</div>