<div>
    <h1>Department Requests</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Responses</th>
                <th>Tasks</th>
                <th>Due Date</th>
                <th>Files</th>
                <th>Submitted By</th>
                <th>Assigned User</th>
                <th>Assigned Department</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="request in requests">
                <td>{{ request.name }}</td>
                <td>{{ request.description }}</td>
                <td></td>
                <td></td>
                <td>{{ request.due_date }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ request.assigned_department }}</td>
            </tr>
        </tbody>
    </table>
</div>