<div>
    <form v-on:submit.prevent="addComponentsToTactic">
        <h4>Is the title a movie, trailer, or episode?</h4>

        <select v-model="title_type">
            <option>Movie</option>
            <option>Trailer</option>
            <option>Episode</option>
        </select>

        <div v-if="title_type !== null">
            <h4>
                Select the title below (type to search). If the title is not listed, you
                will have to add it to Tactic's Database
            </h4>

            <multiselect :selected="selected_title" :options="searchable_titles" @input="updateSelectedTitle" track-by="code" label="name"></multiselect>
        </div>

        <div v-if="selected_title !== null">
            <h4>
                Select the languages below. Each selected language will create a new
                Component.
            </h4>

            <multiselect v-model="selected_languages" :options="languages" track-by="code" label="name" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true"></multiselect>

            <h4>
                Select a pipeline to attach to each component. This can be done later.
            </h4>

            <multiselect v-model="selected_pipeline" :options="pipelines" track-by="code" label="name"></multiselect>
        </div>

        <div id="components-created-div" v-if="selected_title != null">
            <h5>The following components will be created:</h5>

            <ul>
                <li v-for="created_component in created_components">
                    {{ created_component }}
                </li>
            </ul>

            <button type="submit">Submit</button>
        </div>
    </form>
</div>
