<div>
    <div class="row">
        <div v-if="order_sobject !== null">
            <div>
                <h1>{{ order_code }}</h1>
                <h5>Client: {{ division.name }} <img v-if="divisionImage !== null" :src="divisionImageSource" class="division-image"/></h5>
                <h5>Expected Completion Date: {{ order_sobject.expected_completion_date }}</h5>
                <h5>Due Date: {{ order_sobject.due_date }}</h5>

                <router-link :to="add_title_link">Add a Title to this Order</router-link><br/>
                <router-link :to="edit_components_link">Edit Components</router-link><br/>
                <router-link :to="add_output_files_link">Add Output Files</router-link>
            </div>

            <div class="col-xs-4">
                <component-editable-list v-bind:components="componentsFull"></component-editable-list>
            </div>
            <div class="col-xs-4">
                <package-editable-list v-bind:packages="packages"></package-detail-list>
            </div>
        </div>
    </div>
</div>