<div>
    <div class="row">
        <div v-if="order_sobject !== null">
            <div class="col-md-12">
                <h1>{{ order_code }}</h1>
                <h3>Client: {{ division.name }} <img v-if="divisionImage !== null" :src="divisionImageSource" class="division-image"/></h3>
                <div v-if="editingExpectedCompletionDate">
                    <edit-expected-completion-date v-bind:currentDate="order_sobject.expected_completion_date" v-bind:orderCode="order_sobject.code"></edit-expected-completion-date>
                </div>
                <div v-else>
                    Expected Completion Date: {{ order_sobject.expected_completion_date }} <a v-on:click="editingExpectedCompletionDate = !editingExpectedCompletionDate"><i class="fa fa-edit"></i></a>
                </div>
                <div v-if="editingDueDate">
                    <edit-due-date v-bind:currentDate="order_sobject.due_date" v-bind:orderCode="order_sobject.code"></edit-due-date>
                </div>
                <div v-else>
                    Due Date: {{ order_sobject.due_date }} <a v-on:click="editingDueDate = !editingDueDate"><i class="fa fa-edit"></i></a>
                </div>

                <router-link :to="add_title_link">Add a Title to this Order</router-link><br/>
                <router-link :to="edit_components_link">Edit Components</router-link><br/>
                <router-link :to="add_output_files_link">Add Output Files</router-link>
            </div>

            <div class="col-md-4">
                <h4>Components</h4>
                <component-editable-list v-bind:components="componentsFull"></component-editable-list>
            </div>
            <div class="col-md-4">
                <h4>Packages</h4>
                <package-editable-list v-bind:packages="packages"></package-detail-list>
            </div>
            <div class="col-md-4">
                <file-editable-list v-bind:files="files" v-bind:orderCode="order_code" v-bind:divisionCode="division.code"></file-editable-list>
            </div>
        </div>
        <div v-else>
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </div>
    </div>
</div>