<div>
    <div class="task-name">{{ task.process }}</div>
    <div>{{ task.code }}</div>

    <template v-if="editingStatus">
        <template v-if="loadingStatuses">
            <p>Loading...</p>
        </template>
        <template v-else>
            <div class="pull-left status-select">
                <multiselect v-model="selectedStatus" :options="statusOptions" :hide-selected="true"></multiselect>
            </div>
            <div class="pull-left">
                <button type="button" class="btn btn-default" aria-label="Left Align" v-on:click="submitStatusChangeToTactic()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default" aria-label="Left Align" v-on:click="editingStatus = false">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </template>
    </template>
    <template v-else>
        <div>Status: {{ task.status }} <a v-on:click="editingStatus = true"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
    </template>
</div>