<div>
    <div class="row">
        <template v-if="loading">
            <p>Loading...</p>
        </template>
        <template v-else-if="template !== null">
            <h1>{{ template.name }}</h1>

            <div class="col-xs-5">
                <h3>Components</h3>

                <ul class="list-group">
                    <li class="list-group-item clearfix" v-for="(componentTemplate, index) in componentTemplates">
                        <div>Name: {{ componentTemplate.name }}</div>
                        <div>Pipeline: {{ componentTemplate.pipeline.name }}</div>

                        <div v-if="componentTemplate.file_flow_templates.length > 0">
                            File Flows:

                            <ul class="list-group">
                                <li
                                    is="editable-file-flow-template"
                                    v-for="fileFlowTemplate in componentTemplate.file_flow_templates"
                                    v-bind:fileFlowTemplate="fileFlowTemplate"
                                    v-bind:packageOptions="packageTemplates"
                                    class="list-group-item clearfix"
                                ></li>
                            </ul>
                        </div>
                        <div v-else class="no-file-flows">No File Flows have been added</div>

                        <button id="show-modal" v-on:click="showModal.splice(index, 1, true)" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span> Add a new File Flow
                        </button>
                        <modal v-if="showModal[index]" v-on:close="showModal.splice(index, 1, false)" v-bind:componentTemplate="componentTemplate"></modal>
                    </li>
                </ul>

                <button v-on:click="toggleNewComponentTemplateForm" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Add a new Component Template
                </button>

                <template v-if="newComponentTemplateFormVisible">
                    <div class="input-group" id="new-component-form">
                        <form v-on:submit.prevent="submitNewComponentTemplate">
                            <h4>Name</h4>
                            <input type="text" v-model="newComponentName" /><br/>

                            <h4>Pipeline</h4>
                            <multiselect v-model="newComponentSelectedPipeline" :options="componentPipelineOptions" track-by="code" label="name"></multiselect>

                            <h4>Instructions Template</h4>
                            <multiselect v-model="newComponentSelectedInstructionsTemplate" :options="componentInstructionsTemplateOptions" track-by="code" label="name"></multiselect>

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </template>
            </div>

            <div class="col-xs-5">
                <h3>Packages</h3>
                <ul class="list-group">
                    <li
                        is="editable-package-template"
                        v-for="packageTemplate in packageTemplates"
                        v-bind:packageTemplate="packageTemplate"
                        v-bind:platformOptions="platformOptions"
                        v-bind:pipelineOptions="packagePipelineOptions"
                        v-bind:projectTemplateCode="templateCode"
                        class="list-group-item clearfix"
                    ></li>
                </ul>

                <button v-on:click="toggleNewPackageTemplateForm" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Add a new Package Template
                </button>

                <template v-if="newPackageTemplateFormVisible">
                    <div class="input-group" id="new-package-form">
                        <form v-on:submit.prevent="submitNewPackageTemplate">
                            <h4>Name</h4>
                            <input type="text" v-model="newPackageName" /><br/>
                            
                            <h4>Platform</h4>
                            <multiselect v-model="newPackageSelectedPlatform" :options="platformOptions" track-by="code" label="name"></multiselect>

                            <h4>Pipeline</h4>
                            <multiselect v-model="newPackageSelectedPipeline" :options="packagePipelineOptions" track-by="code" label="name"></multiselect>

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </template>
            </div>
        </template>
        <template v-else>
            <p>Template not found</p>
        </template>
    </div>
</div>