<div>
    <div class="component-name">
        {{ component.name }} ({{ component.code }})
    </div>
    <div class="component-title">
        <span v-if="title !== null">
            Title: <strong>{{ title.name }}</strong>
        <span>
        <span v-else>
            No Title selected
        </span>
    </div>
    <div class="component-files-needed">
        Files created by this component:
        <span v-if="fileFlows.length > 0">
            <li v-for="fileFlow in fileFlows">
                {{ fileFlow.name }}
            </li>
        </span>
        <span v-else>
            No File flows assigned.
        </span>
    </div>
</div>