<div>
    <h4>How many components do you want to add?</h4>

    <select v-model="number_of_components">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
    </select>

    <div v-if="number_of_components !== null">
        <ul>
            <li v-for="n in Number(number_of_components)">
                <add-component></add-component>
            </li>
        </ul>
    </div>
</div>