<div>
    <template v-if="editing">
        <div class="form-group" v-bind:class="{'has-error': nameError}">
            <label class="control-label" for="edit-file-input">Name</label>
            <input type="text" class="form-control" id="edit-file-input" v-model="editName" aria-describedby="name-help-block" />
            <span id="name-help-block" class="help-block">This field is required.</span>
        </div>

        <div class="form-group" v-bind:class="{'has-error': filePathError}">
            <label class="control-label" for="edit-file-path-input">File Path</label>
            <input type="text" class="form-control" id="edit-file-path-input" v-model="editPath" aria-describedby="file-path-help-block" />
            <span id="file-path-help-block" class="help-block">This field is required.</span>
        </div>

        <div class="form-group" v-bind:class="{'has-error': classificationError}">
            <label class="control-label" for="edit-file-classification">Classification</label>
            <multiselect v-model="editClassification" :options="classificationOptions" id="edit-file-classification" aria-describedby="classification-help-block"></multiselect>
            <span id="classification-help-block" class="help-block">This field is required.</span>
        </div>

        <template v-if="fileOptions.length > 0">
            <label class="control-label" for="original-files">Origin Files</label>
            <multiselect v-model="selectedFiles" :options="fileOptions" id="original-files" track-by="code" label="file_path" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true"></multiselect>
        </template>

        <div v-if="noChangesError" class="form-group has-feedback has-error">
            No changes have been made!
        </div>

        <div class="btn-group">
            <button class="btn btn-default" v-on:click="submitChanges">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Submit
            </button>
            <button class="btn btn-default" v-on:click="editing = false">
                <i class="fa fa-times" aria-hidden="true"></i> Cancel
            </button>
        </div>
    </template>
    <template v-else>
        <div class="file-name">{{ file.name }}</div>
        <div>Path: <span class="file-path">{{ file.file_path }}</span></div>
        <div class="btn-group">
            <button class="btn btn-default" v-on:click="editing = true">
                <i class="fa fa-edit" aria-hidden="true"></i> Edit
            </button>
            <button class="btn btn-default" v-on:click="removeFileFromOrder">
                <i class="fa fa-times" aria-hidden="true"></i> Remove from Order
            </button>
        </div>
    </template>
</div>